
<% layout('/layout/boilerplate') %>

      <h1 class = "text-center mb-3">Your Entries</h1>
      <div>

    <% const months = ['', 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'] %>
    <% let year = new Date().getFullYear() %>

      <div class=" text-center container mb-4">
      <select class="select-month ">
        <% for (let i = 1; i < months.length; i++) { %>
          <option value= <%= i %> ><%= months[i]%></option>
        <% } %>
      </select>
      <select class="select-year">
        <% for (let i = 2020; i < year + 1; i++) { %>
          <option value= <%= i %> ><%= i%></option>
        <% } %>
      </select>
      <button class="filter-button">Filter</button>
      </div>
    </div>

      <div>
<form action="/allEntries" method="GET">
  <select name="tag" aria-label="Default select example" required>
    <option>All</option>
    <option value="Amazing">Amazing</option>
    <option value="exciting">exciting</option>
    <option value="plain">plain</option>
    <option value="not-The-Best-Day">not The Best Day</option>
    <option value="horrible">horrible</option>
  </select>
  <button type="submit">Filter by Tag</button>
</form>
      </div>

 
      <% for(let entry of entries) { %>
      <div class="card mb-3 shadow" style="width: 1400px;" >
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src=<%= entry.image %> style=" height: 400px; width: 650px"class="img-fluid rounded-start" alt="..." />
            </div>
            <div class="col-md-8">
              <div class="card-body mb-4">
                <h2 class="entry-date"><%= months[entry.month] %> <%= entry.day %> <%= entry.year %></h2>
                <h5 class="card-title"><%= entry.title %></h5>
                <p class="card-text note">
                  <%= entry.note.substring(0, 100) + "..." %>
                  <a href="/entry/<%= entry._id %>">Read More</a>
                </p>
                <p class="card-text tag"><%= entry.tag %></p>
                <button
                class="btn btn-warning editButton"
                entry-id="<%= entry._id %>"
                user-id="<%= entry.userId %>"
                id="<%= entry._id %> "
                >
                <a href="/allEntries/<%= entry._id %>">Edit</a>                              
              </button>
              <button
              class="btn btn-danger deleteButton"
              entry-id="<%= entry._id %>"
              user-id="<%= entry.userId %>"
            >
              Delete
            </button>
                </div>
              </div>
            </div>
        </div>
        <% } %>
    <script src="main.js"></script>

