<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css">
    <title>All Entries</title>
  </head>
  <body>
      <div>
          <h1>Your Entries</h1>
      </div>
    <div class="card-container d-flex flex-wrap justify-content-center">
      <% for(let entry of entries) { %>
      <div class="card" style="width: 18rem">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title"><%= entry.title %></h5>
          <p class="card-text"><%= entry.note %></p>
          <p class="card-text"><%= entry.tag %></p>
          <button
            class="btn btn-warning editButton"
            entry-id="<%= entry._id %>"
            user-id="<%= entry.userId %>"
          >
            Edit
          </button>
          <button
            class="btn btn-danger deleteButton"
            entry-id="<%= entry._id %>"
            user-id="<%= entry.userId %>"
          >
            Delete
          </button>
        </div>
      </div>
      <% } %>
    </div>
    <script src="main.js"></script>
  </body>
</html>
