<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>All Entries</title>
  </head>
  <body>
    <% const months = ['', 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'] %>
    <% let year = new Date().getFullYear() %>
    <div>
      <h1>Your Entries</h1>
      <div>
      <select class="select-month">
        <% for (let i = 1; i < months.length; i++) { %>
          <option value= <%= i %> ><%= months[i]%></option>
        <% } %>
      </select>
      <select class="select-year">
        <% for (let i = 2020; i < year + 1; i++) { %>
          <option value= <%= i %> ><%= i%></option>
        <% } %>
      </select>
      <button class="filter-button">Filter</button>
      </div>
    </div>

    <div class="card-container d-flex flex-wrap justify-content-center">
      <% for(let entry of entries) { %>
      <div class="card" style="width: 18rem">
        <img src=<%= entry.image %> class="card-img-top" alt="..." />
        <div class="card-body">
          <h2 class="entry-date"><%= months[entry.month] %> <%= entry.day %> <%= entry.year %></h2>
          <h5 class="card-title"><%= entry.title %></h5>
          <p class="card-text note"><%= entry.note %></p>
          <p class="card-text tag"><%= entry.tag %></p>
          <div>
            <button
              class="btn btn-warning editButton"
              entry-id="<%= entry._id %>"
              user-id="<%= entry.userId %>"
              id="<%= entry._id %>"
            >
              Edit
            </button>
            <button
              class="btn btn-danger deleteButton"
              entry-id="<%= entry._id %>"
              user-id="<%= entry.userId %>"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
      <% } %>
    </div>
    <script src="main.js"></script>
  </body>
</html>
