
<% layout('/layout/boilerplate') %>

<div class="container">
    <div class="row">
        <h1 class ="text-center">Entry Page</h1>
        <img src=<%= entry.image %> alt="image" id="displayImg">

        <div class="card-body">
            <h2 style="display: inline;"><%= entry.title %></h2>
            <button
            class="btn btn-warning editButton"
            entry-id="<%= entry._id %>"
            user-id="<%= entry.userId %>"
            id="<%= entry._id %> "
            >
            <a href="/allEntries/<%= entry._id %>">Edit</a>                              
          </button>
        <span style="display: block; margin: 0.5rem 0; font-weight: bold;"><%= entry.tag %></span>
            <p style="line-height: 1.8;"><%= entry.note %></p>

        </div>

    </div>
</div>
